legend {
    font-family: Inter, Inter, sans-serif;
    font-size: large;
    color: white;
}

label {
    font-family: Inter, Inter, sans-serif;
    font-size: medium;
    color: white;
}

.ratings-title {
    font-family: Inter, Inter, sans-serif;
    font-size: xx-large;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    font-family: Inter, Inter, sans-serif;
    font-size: small;
    color: white;
}

table {
    width: 100%;
}

th {
    font-family: Inter, Inter, sans-serif;
    font-size: x-large;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

td {
    font-family: Inter, Inter, sans-serif;
    font-size: small;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}