.ratings-title {
    font-family: Inter, Inter, sans-serif;
    font-size: xx-large;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    font-family: Inter, Inter, sans-serif;
    cursor: pointer;
    padding: 25px 10px;
    font-size: medium;
}

a:link {
    color: white;
    display: block;
}

a:hover {
    color: black;
}

